body,
html,
#root {
	height: 100%;
}

.App {
	background-color: #f3f3f3;
	height: 100%;
}

.navigation {
	display: flex;
	justify-content: flex-end;
}

.navigation-menu {
	margin-top: .5rem;
}

.item {
	padding: 1rem;
	font-family: 'Inter', sans-serif;
	font-size: 1.3rem;
	font-weight: 900;
	text-decoration: none;
}
