.skills-container {
	display: flex;
  flex-direction: column;
	align-items: center;
	color: #fff;
	padding: 80px 0;
	background-color: #1c2237;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  padding: 50px;
  color: #f00946;
}

.title-container p {
  margin: 0 10px;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}


/* skill icons */
.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

.skill-icon p {
  font-size: 1rem;
}

.skill-js {
  color: #F0DB4F;
}

.skill-html {
  color: #e34c26;
}

.skill-css {
  color: #264de4;
}

.skill-sass {
  color:  #c69;
}

.skill-react {
  color: #61DBFB;
}

.skill-bootstrap {
  color: #563d7c;
}

.skill-github {
  color: #171515;
}

.skill-ps {
  color: #8BC3FC;
}

.skill-vscode {
  color: #0078d7;
}

.skill-nodejs {
  color: #3c873a;
}

.skill-npm {
  color: #cc3543
}

.skill-tailwind {
  color: #03dbfc
}

@media screen and (max-width: 768px) {
	.icon-container {
    max-width: 100%;
    margin: 0 10px;
    padding: 0 10px;
  }

  .skill-icon {
    display: flex;
    justify-content: center;
  }
}