.navigation {
	display: flex;
	justify-content: flex-end;
}

.navigation-menu {
	margin-top: .5rem;
}

.item {
	padding: 1rem;
	font-family: 'Inter', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	text-decoration: none;
}
