.about-section {
	padding: 160px 0;
	background-color: #1c2237;
}

.home__hero-row {
	align-items: center;
}

.row {
	display: flex;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
	align-content: stretch;
}

.col {
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	flex: 1;
	max-width: 50%;
	flex-basis: 50%;
}

.about-heading {
	margin-bottom: 24px;
	font-size: 48px;
	line-height: 1.1;
	font-weight: 600;
	color: #f00946;
}

.home__hero-text-wrapper {
	max-width: 540px;
	padding-top: 0;
	padding-bottom: 60px;
}

.home__hero-img-wrapper {
	max-width: 555px;
}

.home__hero-img {
	max-width: 100%;
	padding-right: 0;
	margin: 0 0 0 10px;
}

.home__hero-img-shadow {
	border-radius: 4%;
	max-width: 100%;
	padding-right: 0;
	margin: 0 0 0 10px;
	box-shadow: 0 8px 6px -6px black;
}

.img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}